<div ng-include="'tpl/include/header.html'"></div>
<div class="order container">
  <div class="panel panel-default" style="margin-top: 10px;">
    <div class="panel-body">
      <form ng-show="ordSuc">
        <div class="form-group">
          <label class="control-label" for="user_name">联系人:</label>
          <input class="form-control" type="text" id="user_name" ng-model="order.user_name"/>
        </div>
        <!--联系人结束-->

        <div class="form-group">
          <label>性别:</label>
          <div>
            <label class="radio-inline">
              <input type="radio" name="sex" value="1" ng-model="order.sex"/>先生
            </label>
            <label class="radio-inline">
              <input type="radio" name="sex" value="2" ng-model="order.sex"/>女士
            </label>
          </div>
        </div>
        <!--性别结束-->

        <div class="form-group">
          <label class="control-label" for="phone">联系电话:</label>
          <input class="form-control" type="text" id="phone" ng-model="order.phone"/>
        </div>
        <!--电话结束-->

        <div class="form-group">
          <label class="control-label" for="addr">送餐地址:</label>
          <textarea class="form-control" id="addr" rows="4" ng-model="order.addr"></textarea>
        </div>
        <div class="form-group">
          <input class="btn btn-success btn-block" type="submit" value="确认下单" ng-click="submitOrder()"/>
        </div>
      </form>

      <div class="alert alert-success" ng-hide="ordSuc">
        <h4>下单成功!</h4>
        <p>您的订单编号为:{{order.did}}</p>
        <p>您可以在 <a href="#/myorder">我的订单</a> 中查看自己所有的订单。</p>
      </div>

    </div>
  </div>
</div>

<br/>
<br/>
<br/>
<div ng-include="'tpl/include/footer.html'"></div>